In [1]:
print('*'*100)
print('                                           woww Python')
print("*"*100)

****************************************************************************************************
                                           woww Python
****************************************************************************************************

In [2]:
import pandas as pd
import regex as re
import numpy as np

In [3]:
sub = re.sub("\s+|,|\.",":","Python Exercises, PHP exercises")
print(sub)

Python:Exercises::PHP:exercises

In [4]:
df = pd.DataFrame({'SUMMARY':['hello, world!','XXXX test','123four,five:;six...']})
print(df)

                SUMMARY
0         hello, world!
1             XXXX test
2  123four,five:;six...

In [5]:
df_sub = df['SUMMARY'].str.replace("\W|XXXX|[0-9]+"," ",regex = True)
print(df_sub)

0         hello  world
1                  test
2     four five  six
Name: SUMMARY, dtype: object

In [6]:
find_4 = re.compile("\w{4,}")

reg_pat = find_4.findall("This is an easy output")
print(reg_pat)

['This', 'easy', 'output']

In [7]:
find_456 = re.compile("\w{3,5}")

reg_pat2 = find_456.findall("This is an easy output. However it can be made more and more challenging. It really does make me think a lot.")
print(reg_pat2)

['This', 'easy', 'outpu', 'Howev', 'can', 'made', 'more', 'and', 'more', 'chall', 'engin', 'reall', 'does', 'make', 'think', 'lot']

In [8]:
sub_brac = re.compile("\(|\)")
listofString = ["example(.com)","hr@fliprobo(.com)","github(.com)","Hello (Data Science world)","Data (Scientist)"]
for string in listofString:
    reg_pat3 = sub_brac.sub("",string)
    print(reg_pat3)

example.com
hr@fliprobo.com
github.com
Hello Data Science world
Data Scientist

In [9]:
listofString = ["example(.com)","hr@fliprobo(.com)","github(.com)","Hello (Data Science world)","Data (Scientist)"]
for string in listofString:
    reg_pat3 = re.sub(r"\([^)]*\)","",string)
    print(reg_pat3)

example
hr@fliprobo
github
Hello
Data

In [10]:
re_split = re.split("(?=[A-Z])","ImportanceOfRegularExpressionsInPython")
print(re_split)

['', 'Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [11]:
print(re.sub("(?=\d)"," ","RegularExpression1IsAn2ImportantTopic3InPython"))

RegularExpression 1IsAn 2ImportantTopic 3InPython

In [12]:
print(re.sub("(?=\d)|(?=[A-Z])"," ","RegularExpression1IsAn2ImportantTopic3InPython"))

 Regular Expression 1 Is An 2 Important Topic 3 In Python

In [13]:
df = pd.read_csv("https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv")

In [14]:
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        158 non-null    object
 1   Region                         158 non-null    object
 2   Happiness Rank                 158 non-null    int64
 3   Happiness Score                158 non-null    float64
 4   Standard Error                 158 non-null    float64
 5   Economy (GDP per Capita)       158 non-null    float64
 6   Family                         158 non-null    float64
 7   Health (Life Expectancy)       158 non-null    float64
 8   Freedom                        158 non-null    float64
 9   Trust (Government Corruption)  158 non-null    float64
 10  Generosity                     158 non-null    float64
 11  Dystopia Residual              158 non-null    float64
dtypes: float64(9), int64(1), object(2)
memory usage: 14.9+ KB

In [17]:
df['first_five_letters'] = df['Country'].str.extract(r"(\w{6})",expand = True)
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,NaN
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,NaN
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burund
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,NaN

In [18]:
print(re.split("(?=3)","thisistosplit3a4string3withanumber3init"))

['thisistosplit', '3a4string', '3withanumber', '3init']

In [19]:
tar_str = "The quick Brown fox jumps over the lazy dog"
result = re.finditer(r"fox|dog",tar_str)

for match in result:
    print(match.group())

fox
dog

In [20]:
tar_str = "The quick Brown fox jumps over the lazy dog"
result = re.finditer(r"fox|dog",tar_str)

for match in result:
    print(match.group())
    print(match)

fox
<regex.Match object; span=(16, 19), match='fox'>
dog
<regex.Match object; span=(40, 43), match='dog'>

In [21]:
pat4 = re.compile("([0-9]+\.[0-9]{0,2})")
res = pat4.findall("01.12 0132.023 2.31875 145.8 3.01 27.25 0.25")
res

['01.12', '0132.02', '2.31', '145.8', '3.01', '27.25', '0.25']

In [22]:
tar_str = "The 2quick Brown 34fox jumps 0over 56the lazy dog"
result = re.finditer(r"\d+",tar_str)

for match in result:
    print(match.group())
    print(match)

2
<regex.Match object; span=(4, 5), match='2'>
34
<regex.Match object; span=(17, 19), match='34'>
0
<regex.Match object; span=(29, 30), match='0'>
56
<regex.Match object; span=(35, 37), match='56'>

In [23]:
tar_str = "My marks in each semester are: 947, 896, 926, 524, 734, 950, 642"
result = re.findall(r"\d+",tar_str)

print(max(result))

950

In [24]:
print(re.sub("(?=[A-Z])"," ","RegularExpression1IsAn2ImportantTopic3InPython"))

 Regular Expression1 Is An2 Important Topic3 In Python

In [25]:
tar_str = """"RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""""
pattern = "(#\w+)"
print(re.findall(pattern,tar_str))

['#Doltiwal', '#xyzabc', '#Demonetization']

In [27]:
tar_str1 = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
pattern = "(<U\+\w+>)"
print(re.sub(pattern,"",tar_str1))

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [28]:
tar_str2 = "Ron was born on 12-09-1992 and he was admitted to school 15-12-1999."
pattern = "(\d\d-\d\d-\d\d\d\d)"
print(re.findall(pattern,tar_str2))

['12-09-1992', '15-12-1999']

In [25]:
tar_str4 = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
pattern = re.compile(r'\b[^ ]{2,4}\b')            
print(pattern.sub('',tar_str4))

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.

In [29]:
result = re.search("exercises","Python exercises, PHP exercises, C# exercises")
result.group()

'exercises'

In [30]:
tar_str11 = "Python exercises, PHP exercises, C# exercises"
result = re.finditer("exercises",tar_str11)

for msg in result:
    print(msg.group())
    print(msg)

exercises
<regex.Match object; span=(7, 16), match='exercises'>
exercises
<regex.Match object; span=(22, 31), match='exercises'>
exercises
<regex.Match object; span=(36, 45), match='exercises'>

In [31]:
tar_str12 = "Python exercise 1 of regex 2 is so 3 tough 4000"
result = re.finditer("\d+",tar_str12)

for match in result:
    print(match.group())
    print(match)

1
<regex.Match object; span=(16, 17), match='1'>
2
<regex.Match object; span=(27, 28), match='2'>
3
<regex.Match object; span=(35, 36), match='3'>
4000
<regex.Match object; span=(43, 47), match='4000'>

In [33]:
print(re.findall("\w+","This algo Gives any word as output including underscores _"))

['This', 'algo', 'Gives', 'any', 'word', 'as', 'output', 'including', 'underscores', '_']

In [34]:
print(re.findall(r"\b[A-Z][a-z]+","This Algo will give Us an output of Words Starting with Capital Letters"))

['This', 'Algo', 'Us', 'Words', 'Starting', 'Capital', 'Letters']

In [46]:
string = "This program gives a value123 as output which is alphanumeric@45 at the end"
result = re.search(r"\b\w+[0-9]+",string)
result

In [47]:
string = "783.002.014.0002874"
result = re.sub("\.[0]*",'.',string)
result

'783.2.14.2874'

In [48]:
result = re.sub(r'(\d{4})-(\d{1,2})-(\d{1,2})','\\3-\\2-\\1',"2023-01-05")
print(result)

05-01-2023